@use "../../../scss/typography";

header {
  display: flex;
  justify-content: flex-start;
  align-items: center;

  h4 {
    font: 4rem typography.$font-rancho;
    margin: 1rem 2rem;
    text-align: center;
    line-height: 1;
  }
}
